\#*
.\#*
*.o
*.so
*.dSYM
*~
*.aux
*.log
*.toc
*.gz

expandA
testA.c

mcB.c
expandB.c
expandB
testB.c

mcC.c
expandC.c
expandC
testC.c

mcD.c
expandD.c
expandD
testD.c

mcE.c
expandE.c
expandE
testE.c

mcF.c
expandF.c
expandF

REPL.c
REPL

NIDE.c
NIDE

