\#*
.\#*
*.o
*.so
*.dSYM
*~
*.aux
*.log
*.toc
*.gz
*.txt

expandA.c
expandA

mcB.c
expandB.c
expandB

mcC.c
expandC.c
expandC

mcC2.c
expandC2.c
expandC2

mcD.c
expandD.c
expandD

mcE.c
expandE.c
expandE

IDE.c
NIDE

